/*
 * Copyright 2014 Stefanie Wiegand
 * This file is part of MemO which is licenced under GPL3 and comes with ABSOLUTELY NO WARRANTY.
 * For more information, see http://www.gnu.org/licenses/gpl-3.0.html
 */

#selectPhotosTextField.wrong,
#geotaggingTextField.wrong {
	-fx-background-color: #b76;
}

#selectPhotosLabel {
	visibility: hidden;
}

#geotaggingLabel {
	-fx-text-fill: #000;
}

#selectPhotosLabel.wrong ,
#geotaggingLabel.wrong {
	visibility: visible;
	-fx-text-fill: #f98;
}

.tripEntriesContainer {
	-fx-background: derive(-fx-base, -20%);
}

.tripEntry {
	-fx-border-color: derive(-fx-base, -80%);
    -fx-border-width: 1;
    -fx-border-style: solid;
	-fx-border-radius: 5px;
	-fx-background-radius: 5px;
	-fx-background-color: derive(-fx-base, 30%);
}

.tripEntry .wrong {
	-fx-background-color: #b76;
	-fx-border-color: #600;
}

.Link.wrong .LinkCameraIcon {
	-fx-background-color: #b76;
	-fx-border-color: #600;
}

.LinkCameraIcon {
	-fx-border-color: derive(-fx-base, -80%);
    -fx-border-width: 1;
    -fx-border-style: solid;
	-fx-border-radius: 5px;
	-fx-background-radius: 5px;
}

.LinkCameraIcon.linked {
	-fx-background-color: #7a2;
}

.LinkCameraIcon.notLinked {
	-fx-background-color: transparent!important;
	-fx-border-color: transparent!important;
}

.LinkCameraIcon.linkedHeader {
	-fx-background-color: #ccc;
	/*normal cam, not linked*/
}

.LinkCameraIcon.linkedHeader.refCam {
	/*ref cam (always linked)*/
	-fx-border-color: #7a2;
	-fx-border-width: 3;
	-fx-background-color: #350;
}

.LinkCameraIcon.linkedHeader.linked {
	/*normal cam, linked*/
	-fx-background-color: #350;
}