/*
 * Copyright 2017 Stefanie Wiegand
 * This file is part of MemO which is licenced under GPL3 and comes with ABSOLUTELY NO WARRANTY.
 * For more information, see http://www.gnu.org/licenses/gpl-3.0.html
 */

span.thumbnailHeader {
	text-align: center;
	display: block;
	width: 100%;
}

img.thumbnail {
	max-width: 150px;
	max-height: 150px;
	margin: 5px auto;
}

.ol-mouse-position {
	font-family: monospace;
	font-size: 12px;
	color: #fff;
	background-color: rgba(0,60,136,.5);
	border: 3px solid rgba(255,255,255,.8);
    border-radius: 4px;
	padding: 2px 5px;
}