/*
 * Copyright 2014 Stefanie Wiegand
 * This file is part of MemO which is licenced under GPL3 and comes with ABSOLUTELY NO WARRANTY.
 * For more information, see http://www.gnu.org/licenses/gpl-3.0.html
 */

/*define base colours, override modena.css variables*/
.root {
	-fx-base: #BFBFE5;
	-fx-dark-text-color: black;
    -fx-mid-text-color: #272749;
    -fx-light-text-color: white;
	-fx-accent: #8080B6;
	-fx-default-button: #5F5FA5;
	-fx-focus-color: #8080B6;
    -fx-faint-focus-color: #5AD30322;
	-fx-cell-hover-color: #BBBBFF;
	-fx-page-bullet-border: bbbbbb;
    -fx-page-indicator-hover-border: #BBBBFF;
}