/*
 * Copyright 2014 Stefanie Wiegand
 * This file is part of MemO which is licenced under GPL3 and comes with ABSOLUTELY NO WARRANTY.
 * For more information, see http://www.gnu.org/licenses/gpl-3.0.html
 */

.mediaItemTile .anchor-pane {}

.mediaItemTile .vbox {}

.mediaItemTile .imageVbox {
	-fx-border-color: -fx-base;
	-fx-border-radius: 10px;
	-fx-background-radius: 10px;
	-fx-background-color: derive(-fx-base, -50%);
}

.mediaItemTile.inverted .imageVbox {
	-fx-border-color: -fx-base;
	-fx-background-color: derive(-fx-base, 25%);
}

.mediaItemTile:hover .imageVbox {
	-fx-effect: dropshadow(three-pass-box, derive(-fx-accent, 20%), 10, 0.5, 0, 0);
}

.mediaItemTile .image-view {}

.mediaItemTile .typeIcon {
	-fx-background-color: derive(-fx-base, 20%);
	-fx-border-radius: 10px;
	-fx-background-radius: 10px;
	-fx-background-color: derive(-fx-base, 50%);
}

.mediaItemTile .thumbnailImageView {
	-fx-background-radius: 10px;
}

.mediaItemTile .label {
	-fx-font-size: 10px;
}

.mediaItemTile .filenameLabel {
	-fx-font-weight: bold;
	-fx-text-fill: derive(-fx-light-text-color, -10%);
}

.mediaItemTile .datetimeLabel {
	-fx-font-style: italic;
	-fx-text-fill: derive(-fx-light-text-color, -30%);
}

.mediaItemTile .tagsLabel {
	-fx-text-fill: derive(-fx-light-text-color, -50%);
}

.inverted .filenameLabel {
	-fx-text-fill: derive(-fx-dark-text-color, 10%);
}

.inverted .datetimeLabel {
	-fx-text-fill: derive(-fx-dark-text-color, 20%);
}

.inverted .tagsLabel {
	-fx-text-fill: derive(-fx-dark-text-color, 30%);
}
