/*
 * Copyright 2014 Stefanie Wiegand
 * This file is part of MemO which is licenced under GPL3 and comes with ABSOLUTELY NO WARRANTY.
 * For more information, see http://www.gnu.org/licenses/gpl-3.0.html
 */

.mediaItemLine {
	-fx-border-color: -fx-base;
	-fx-border-radius: 10px;
	-fx-background-radius: 10px;
	-fx-background-color: derive(-fx-base, -50%);
}

.mediaItemLine .imageVbox {}

.mediaItemLine.inverted {
	-fx-border-color: -fx-base;
	-fx-background-color: derive(-fx-base, 50%);
}

.mediaItemLine:hover {
	-fx-effect: dropshadow(three-pass-box, derive(-fx-accent, 20%), 10, 0.5, 0, 0);
}

.mediaItemLine .image-view {}

.mediaItemLine .typeIcon {
	-fx-background-color: derive(-fx-base, 20%);
	-fx-border-radius: 10px;
	-fx-background-radius: 10px;
	-fx-background-color: derive(-fx-base, 50%);
}

.mediaItemLine .thumbnailImageView {
	-fx-background-radius: 10px;
}

.mediaItemLine .label {
	-fx-font-size: 10px;
}

.mediaItemLine .filenameLabel {
	-fx-font-weight: bold;
	-fx-text-fill: derive(-fx-light-text-color, 0%);
}

.mediaItemLine .datetimeLabel {
	-fx-font-style: italic;
	-fx-text-fill: derive(-fx-light-text-color, -10%);
}

.mediaItemLine .tagsLabel {
	-fx-text-fill: derive(-fx-light-text-color, -20%);
}

.inverted .filenameLabel {
	-fx-text-fill: derive(-fx-dark-text-color, 10%);
}

.inverted .datetimeLabel {
	-fx-text-fill: derive(-fx-dark-text-color, 20%);
}

.inverted .tagsLabel {
	-fx-text-fill: derive(-fx-dark-text-color, 30%);
}
