/*
 * Copyright 2014 Stefanie Wiegand
 * This file is part of MemO which is licenced under GPL3 and comes with ABSOLUTELY NO WARRANTY.
 * For more information, see http://www.gnu.org/licenses/gpl-3.0.html
 */

.heading {
	-fx-font-weight: bold;
	-fx-font-size: 16px;
}

.hidden {
	display: none;
}
