/*
 * Copyright 2014 Stefanie Wiegand
 * This file is part of MemO which is licenced under GPL3 and comes with ABSOLUTELY NO WARRANTY.
 * For more information, see http://www.gnu.org/licenses/gpl-3.0.html
 */

/*define base colours, override modena.css variables*/
.root {
	-fx-base: #333;
	-fx-dark-text-color: black;
    -fx-mid-text-color: #666;
    -fx-light-text-color: white;
	-fx-accent: #50961E;
	-fx-default-button: #366614;
	-fx-focus-color: #50961E;
    -fx-faint-focus-color: #5AD30322;
	-fx-cell-hover-color: #D5F4CC;
	-fx-page-bullet-border: #acacac;
    -fx-page-indicator-hover-border: #BBE5AC;
}