/*
 * Copyright 2014 Stefanie Wiegand
 * This file is part of MemO which is licenced under GPL3 and comes with ABSOLUTELY NO WARRANTY.
 * For more information, see http://www.gnu.org/licenses/gpl-3.0.html
 */

.cameraTileBackground {}

.cameraTile {
	-fx-border-width: 1;
	-fx-border-style: solid;
	-fx-border-radius: 5px;
	-fx-background-radius: 5px;
    -fx-background-color: linear-gradient(derive(-fx-accent, -30%), derive(-fx-accent, -50%));
}

.cameraTile:hover {
	-fx-effect: dropshadow(three-pass-box, derive(-fx-accent, 20%), 10, 0.5, 0, 0);
	-fx-background-color: linear-gradient(derive(-fx-accent, -20%), derive(-fx-accent, -40%));
}

.selected {
	-fx-background-color: linear-gradient(derive(-fx-accent, 50%), derive(-fx-accent, 30%));
}

.selected:hover {
	-fx-background-color: linear-gradient(derive(-fx-accent, 60%), derive(-fx-accent, 40%));
}

.cameraTile .makeLabel {
	-fx-text-fill: derive(-fx-accent, 80%);
	-fx-font-weight: bold;
}

.cameraTile .modelLabel {
	-fx-text-fill: derive(-fx-accent, 60%);
}

.cameraTile .snLabel{
	-fx-font-style: italic;
	-fx-text-fill: derive(-fx-accent, 50%);
}

.selected .makeLabel {
	-fx-text-fill: derive(-fx-accent, -80%);
}

.selected .modelLabel {
	-fx-text-fill: derive(-fx-accent, -60%);
}

.selected .snLabel{
	-fx-text-fill: derive(-fx-accent, -50%);
}