/*
 * Copyright 2014 Stefanie Wiegand
 * This file is part of MemO which is licenced under GPL3 and comes with ABSOLUTELY NO WARRANTY.
 * For more information, see http://www.gnu.org/licenses/gpl-3.0.html
 */

.camerasPane {
	-fx-background: derive(-fx-base, -50%);
}

#CameraScene .label.heading {
	-fx-margin: 20px 0 0 0;
}